fastapi
uvicorn[standard]
python-multipart
pydantic-settings
SQLAlchemy>=2.0
psycopg2-binary
asyncpg
alembic
Pillow
transformers
torch
sentence-transformers
numpy
anyio
pdf2image
sympy
celery[redis]
redis
flower
boto3
aioboto3>=15.5.0
python-jose[cryptography]
passlib[bcrypt]
